/* Button.css */

.navbar {
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 50px; /* Adjust as needed */
    color: white;
    font-size: 16px;
  }
  
  .nav-link {
    text-decoration: none;
    color: white;
    display: flex;
    align-items: center;
  }
  