.Navbar {
    position: fixed;
    top: 0;
    width: 100%;
    background-color: #fff;
    z-index: 1000; /* Ensures Navbar is on top */
    /* Add any additional styles for your Navbar */
  }
  
  /* Space below Navbar */
  .space-below-navbar {
    height: 80px; /* Adjust as needed */
    /* Add any additional styles for space below Navbar */
  }
  
  /* Styles for displaying the photo */
  .Photo {
    display: flex;
    justify-content: center;
    align-items: center;
    /* Add any additional styles for your photo container */
  }
  
  .Photo img {
    max-width: 100%; /* Ensure the image doesn't exceed its container */
    height: auto;
    /* Add any additional styles for your photo */
  }
  
  /* Styles for the buttons section */
  .Buttons {
    display: flex;
    justify-content: center;
    align-items: center;
    /* Add any additional styles for your buttons container */
  }
  
